<div class="panel panel-default">
    <div class="panel-heading">文章分类</div>
    <!--<div class="panel-body">-->

    <!--</div>-->
    <ul class="list-group">
        <li class="list-group-item"><a href="?{{category_all.link}}">{{category_all.title}}</a></li>
        {% for item in category_list %}
         {% if item.count %}
        <li class="list-group-item"><a href="?{{item.link}}">{{item.title}}({{item.count}})</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">文章标签</div>

    <ul class="list-group">
        {% for item in tag_list %}
        {% if item.count %}
        <li class="list-group-item"><a href="?{{item.link}}">{{item.title}}({{item.count}})</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">文章归档日期</div>

    <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>
