{% extends './layout.html' %}


<!--css样式-->
{% block css %}
<style>
    .tags {
        margin-left: 100px;
    }

    .content {

    }

    .title {
        font-size: 24px;
        color: #002D57;
    }
</style>

{% endblock %}

<!--内容填充-->
{% block container %}

{% load poll_extras %}
<div class="row" style="margin-top: 10px">
    <div class="col-md-8">

        {% for item in art_objs %}
        <div class="content">
            <div class="title"><a href="/blog/articles/?id={{item.id}}">{{item.title}}</a></div>
            <div class="row">
                <div class="col-md-1"><img src="{{item.user.avatar|avatar_cut}}" alt="" width="40" height="40"></div>
                <div class="col-md-11">
                    <div>
                        <span>{{item.user}}</span><span>个人简介</span>
                    </div>
                    <div>
                        {{item.description}}
                    </div>
                    <div>
                        <span>关注问题</span>
                        <span>点赞{{item.up_count}}</span>
                        <span>评论{{item.comment_count}}</span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {% endfor %}


    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3" style="margin-top: 20px">
        <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <!--<div class="panel-body">-->

            <!--</div>-->
            <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
     
            <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>


    </div>
</div>


{% endblock %}