{% extends './layout.html' %}


<!--css样式-->
{% block css %}
<style>
    .art_footer {
        margin-top: 60px;
        margin-bottom: 60px;
    }

</style>

{% endblock %}

<!--内容填充-->
{% block container %}

{% load poll_extras %}

<div class="row">
    <div>
        <span id="article_id" value="{{art_obj.id}}"></span>
        <span id="user_id" value="{{request.user.id}}"></span>
        <span id="username" value="{{request.user.username}}"></span>
        <span id="avatar" value="{{request.user.avatar|avatar_cut}}"></span>
    </div>
    <!--文章-->
    <div class="col-md-8 ">
        <div class="art_header">
            <h2>{{art_obj.title}}</h2>
        </div>

        <div class="art_body">
            {{art_detail.content_html|safe}}
        </div>

        <div class="art_footer">
            <div class="copy_text">著作权归文章作者所有</div>
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation"><a href="#"><span class="badge">python</span></a></li>
                <li role="presentation"><a href="#"><span class="badge">C++</span></a></li>
                <li role="presentation"><a href="#"><span class="badge">C##</span></a></li>
            </ul>
            <!--<div class="row">-->
            <!--<div class="col-md-4">点赞</div>-->
            <!--</div>-->
        </div>


        <div class="art_comment">
            <hr>
            <div class="push_comment row">
                <div class="col-md-1">头像</div>
                <div class="col-md-11">
                    <textarea name="" id="comment" class="form-control" rows="5"></textarea>

                    <a id="comment_push" class="btn btn-default pull-right" role="button" style="margin-top: 5px">发布</a>
                </div>
            </div>
            <hr>
        </div>

        <div class="comments">
            <div class="panel panel-default">
                <div class="panel-heading">评论</div>
                <div class="panel-body" id="comment_body">

                </div>
                <div class="panel-footer">Panel footer</div>
            </div>
        </div>
    </div>

    <div class="col-md-1"></div>
    <!--侧边栏-->
    <div class="col-md-3" style="margin-top: 20px">
        <div class="panel panel-success">
            <div class="panel-heading">Panel heading without title</div>
            <!--<div class="panel-body">-->

            <!--</div>-->
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Panel heading without title</div>

            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>


    </div>
</div>


{% endblock %}


{% block script %}

<script>
    $(function () {

        let button = true;

        //发布评论
        $("#comment_push").click(function () {
            var article_id = $("#article_id").attr("value");
            var user_id = $("#user_id").attr("value");
            var content = $("#comment").val();
            $.ajax({
                url: "/blog/comment/",
                type: "POST",
                data: {
                    article_id: article_id,
                    user_id: user_id,
                    content: content,
                },
                success: function (data) {
                    console.log(data)
                }
            })
        })


        //动态生成评论
        function generateComment() {
            //发送一个Ajax请求获取评论。
            var article_id = $("#article_id").attr("value");


            $.ajax({
                url: `/blog/comment/?article_id=${article_id}`,
                type: "GET",
                success: function (data) {
                    let comments = JSON.parse(data);
                    for (let item of comments) {
                        let avatar = item['user__avatar'].replace('blog', '');
                        let username = item['user__nickname'];
                        let id = item['id'];
                        let content = item['content'];
                        let create_time = item['create_time'];
                        let parent_comment_id = item[`parent_comment_id`];
                        let depth = item['depth'];


                        if (parent_comment_id === null) {
                            var comment_html = `<div class="comment-group"><div class="row"><div class="col-md-1"><img src=${avatar} alt="" width="30" height="30"></div><div class="col-md-11"><div class="row"><div class="col-md-12"><p class="pull-left">${username}</p><p class="pull-right">${create_time}</p></div></div><div clas="row"><div class="content"><p>${content}</p></div><div><span id="like_${id}">查看全部</span><span>&nbsp;&nbsp;&nbsp;</span><span class="reply" value="${id}">回复</span><span class="delete_comment pull-right" delete_id="${id}">删除</span></div>
                                <div class="child_comments"></div></div></div></div><hr></div>`
                            $("#comment_body").append(comment_html);
                        } else {
                            var comment_html = `<div class="comment-group"><hr><div class="row"><div class="col-md-1"><img src=${avatar} alt="" width="30" height="30"></div><div class="col-md-11"><div class="row"><div class="col-md-12"><p class="pull-left">${username}</p><p class="pull-right">${create_time}</p></div></div><div clas="row"><div class="content"><p>${content}</p></div><div><span id="like_${id}">查看全部</span><span>&nbsp;&nbsp;&nbsp;</span><span class="reply" value="${id}">回复</span><span class="delete_comment pull-right" delete_id="${id}">删除</span></div>
                                <div class="child_comments"></div></div></div></div></div>`
                            $(`#like_${parent_comment_id}`).parent().next().append(comment_html);
                        }
                    }


                    //为每个评论绑定删除事件
                    $("#comment_body .delete_comment").click(function () {
                        let delete_id = $(this).attr("delete_id");
                        let that = this;
                        //发送ajax删除评论
                        $.ajax({
                            url: "/blog/comment/",
                            type: "DELETE",
                            data: {
                                delete_id: delete_id,
                            },
                            success: function (data) {
                                let ret = data;
                                if (ret.code === 100) {
                                    alert("删除失败")
                                } else {
                                    console.log(that);
                                    $(that).parentsUntil('.comment-group').remove('hr');
                                    $(that).parentsUntil('.comment-group').remove();
                                }
                            },
                        })
                    })


                }
            })
        }

        generateComment();

        //为每个生成的评论的回复标签绑定事件
        $("#comment_body").on("click", '.reply', function () {
            if (button) {
                let id = $(this).attr("value");
                console.log(id);
                let reply = `<div class='reply_content row'>
    <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
    <div class="col-md-2">
        <a id="reply_push" class="btn btn-default pull-right" role="button"  value="${id}">发布</a>
    </div>
</div>`
                $(this).parent().next().prepend(reply);
                $(this).attr({"disabled": true});

                //绑定评论事件
                $(`#reply_push`).click(function () {
                    var article_id = $("#article_id").attr("value");
                    var user_id = $("#user_id").attr("value");
                    var content = $(this).parent().prev().find('textarea').val();
                    var parent_id = $(this).attr('value');
                    var username = $("#username").attr("value");
                    var avatar = $("#avatar").attr("value");
                    $.ajax({
                        url: "/blog/comment/",
                        type: "POST",
                        data: {
                            article_id: article_id,
                            user_id: user_id,
                            content: content,
                            parent_id: parent_id,
                        },
                        success: function (data) {
                            console.log(data);
                            $(`#reply_push`).parent().parent().remove();
                            var id = data['id'];
                            var create_time = data['create_time'];
                            var comment_html = `<div class="comment-group"><hr><div class="row"><div class="col-md-1"><img src=${avatar} alt="" width="30" height="30"></div><div class="col-md-11"><div class="row"><div class="col-md-12"><p class="pull-left">${username}</p><p class="pull-right">${create_time}</p></div></div><div clas="row"><div class="content"><p>${content}</p></div><div><span id="like_${id}">查看全部</span><span>&nbsp;&nbsp;&nbsp;</span><span class="reply" value="${id}">回复</span><span class="delete_comment pull-right" delete_id="${id}">删除</span></div><div class="child_comments"></div></div></div></div></div>`
                            $(`#like_${parent_id}`).parent().next().append(comment_html);

                            button = true;
                        }
                    })
                })
            }
            button = false;

        })

//         $(".reply").click(function () {
//                         if (button) {
//                             let id = $(this).attr("value");
//                             console.log(id);
//                             let reply = `<div class='reply_content row'>
//     <div class="col-md-10"><textarea class="form-control" rows="2"></textarea></div>
//     <div class="col-md-2">
//         <a id="reply_push" class="btn btn-default pull-right" role="button"  value="${id}">发布</a>
//     </div>
// </div>`
//                             $(this).parent().next().prepend(reply);
//                             $(this).attr({"disabled": true});
//
//                             //绑定评论事件
//                             $(`#reply_push`).click(function () {
//                                 var article_id = $("#article_id").attr("value");
//                                 var user_id = $("#user_id").attr("value");
//                                 var content = $(this).parent().prev().find('textarea').val();
//                                 var parent_id = $(this).attr('value');
//                                 var username = $("#username").attr("value");
//                                 var avatar = $("#avatar").attr("value");
//                                 $.ajax({
//                                     url: "/blog/comment/",
//                                     type: "POST",
//                                     data: {
//                                         article_id: article_id,
//                                         user_id: user_id,
//                                         content: content,
//                                         parent_id: parent_id,
//                                     },
//                                     success: function (data) {
//                                         console.log(data);
//                                         $(`#reply_push`).parent().parent().remove();
//                                         var id = data['id'];
//                                         var create_time = data['create_time'];
//                                         var comment_html = `<div class="comment-group"><hr><div class="row"><div class="col-md-1"><img src=${avatar} alt="" width="30" height="30"></div><div class="col-md-11"><div class="row"><div class="col-md-12"><p class="pull-left">${username}</p><p class="pull-right">${create_time}</p></div></div><div clas="row"><div class="content"><p>${content}</p></div><div><span id="like_${id}">查看全部</span><span>&nbsp;&nbsp;&nbsp;</span><span class="reply" value="${id}">回复</span><span class="delete_comment pull-right" delete_id="${id}">删除</span></div><div class="child_comments"></div></div></div></div></div>`
//                                         $(`#like_${parent_id}`).parent().next().append(comment_html);
//                                     }
//                                 })
//                             })
//                         }
//                         button = false;
//
//                     });


    })


</script>


{% endblock %}