{% extends './layout.html' %}


<!--css样式-->
{% block css %}
<style>
    .tags {
        margin-left: 100px;
    }

    .content {

    }

    .title {
        font-size: 24px;
        color: #002D57;
    }
</style>

{% endblock %}

<!--内容填充-->
{% block container %}


<div class="row" style="margin-top: 10px">
    <div class="col-md-8">

        {% for item in art_objs %}
        <div class="content">
            <div class="title"><a href="/blog/articles/?id={{item.id}}">{{item.title}}</a></div>
            <div class="row">
                <div class="col-md-1"><img src="" alt=""></div>
                <div class="col-md-11">
                    <div>
                        <span>{{item.user}}</span><span>个人简介</span>
                    </div>
                    <div>
                        {{item.description}}
                    </div>
                    <div>
                        <span>关注问题</span>
                        <span>点赞{{item.up_count}}</span>
                        <span>评论{{item.comment_count}}</span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {% endfor %}


    </div>
    <div class="col-md-4" style="margin-top: 20px">
        <div class="tags">
            <div>
                <div>各种标签</div>
                <div>各种标签</div>
                <div>各种标签</div>
                <div>各种标签</div>
                <div>各种标签</div>
            </div>

        </div>


    </div>
</div>


{% endblock %}