<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    <script src="/static/jquery-3.3.1.js"></script>
    <link href="/static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/editormd/editormd.min.css"/>
    <script src="/static/editormd/editormd.min.js"></script>

    <style>
        .article{
            font-size: 16px;
            margin-top: 5px;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row" style="margin-left: 43px;margin-top: 15px">
        <div class="col-md-3">
            <div>
                <div class="form-group">
                    <input type="text" class="form-control" id="title" placeholder="文章标题">
                </div>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <div class="row">

                <div class="col-md-8">
                    <select class="form-control" id="category">
                        <option >-------------------</option>
                        {% for item in categories%}
                        <option cate_id="{{item.id}}">{{item.title}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <p class="article"><a id="category_show" class="glyphicon glyphicon-plus"></a>&nbsp;类别</p>
                </div>
            </div>

        </div>
        <div class="col-md-2 col-md-offset-1">
            <div class="row">

                <div class="col-md-8">
                    <select class="form-control" id="tag" >
                        <option >-------------------</option>
                        {% for item in tags%}
                        <option tag_id="{{item.id}}">{{item.title}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <p class="article"><a id="tag_show" class="glyphicon glyphicon-plus"></a>&nbsp;标签</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="pull-right">
                <a id="get-md-btn" class="btn btn-default">保存文章</a>
                <a id="get-html-btn" class="btn btn-default">Get HTML</a>
            </div>
        </div>

    </div>
</div>


<div id="editormd">
    <textarea style="display:none;">### Hello Editor.md !</textarea>
</div>


<!--文章类别模态框 CategoryModal -->
<div class="modal fade" id="myCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >文章类别</h4>
      </div>
      <div class="modal-body">
          <ul id="categories" class="list-group">
            <!--生成文章类别列表-->
          </ul>
          <hr>
            <div class="row">
                 <div class="col-sm-8">
                     <input type="text" class="form-control" id="_category" >
                 </div>
            </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id='category_add' class="btn btn-primary">Save add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myTagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >文章标签</h4>
      </div>
      <div class="modal-body">
          <ul id="tags" class="list-group">
                <!--生成文章标签列表-->
          </ul>

          <hr>
            <div class="row">
                 <div class="col-sm-8">
                     <input type="text" class="form-control" id="_tag" >
                 </div>
            </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id='tag_add' class="btn btn-primary">Save add</button>
      </div>
    </div>
  </div>
</div>

</body>

<script type="text/javascript">
    //    调用编辑器
    var testEditor;
    $(function () {
        testEditor = editormd("editormd", {
            width: "1800px",
            height: "830px",
            syncScrolling: "single",
            path: "/static/editormd/",
            saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea

        });
        $("#get-md-btn").bind('click', function () {
            var md = testEditor.getMarkdown();
            var ht = testEditor.getHTML();
            var title = $("#title").val();
            var cate_id = $("#category option:selected").attr("cate_id");
            var tag_id = $("#tag option:selected").attr("tag_id");

            if(!(md&&title&&cate_id)){
                alert("警告")
            }else {
                // 发送Ajax请求将文章保存至远端数据库
                $.ajax({
                    url: "",
                    type: "POST",
                    data: {md: md,
                        ht :ht,
                        title:title,
                        cate_id:cate_id,
                        tag_id:tag_id
                    },
                    success: function (data) {
                        if(data.code==100){
                            alert(data.msg);
                        }else{
                            location.assign("/blog/articles/")
                        }

                    }
                })
            }

        });

        //获取html代码
        $("#get-html-btn").bind('click', function () {
            alert(testEditor.getHTML());
        });
    });

    //文章类别模态框
    $(function () {
        $("#category_show").click(function () {
            //数据库获取个人博客所有的的文章类别
            $.ajax({
                url:'/blog/category/',
                type:'GET',
                success:function (data) {
                    data = JSON.parse(data);
                    data.forEach(function (item) {
                        id = item['id'];
                        title = item['title'];
                        // var li_tag = document.createElement('li');
                        // li_tag.setAttribute('class',"list-group-item");
                        // li_tag.setAttribute('id',id);
                        // li_tag.innerText = title;
                        var li = $(`<li class="list-group-item" >${title}</li>`);
                        $("#categories").append(li)
                    })
                }

            });

            $('#myCategoryModal').modal('show');
        });

        //添加文章类别
        $("#category_add").click(function () {
            var cate = $("#_category").val();
            console.log(cate);
            if (cate){
                //将类别添加至后台数据库，同时显现在前端页面
                $.ajax({
                    url:'/blog/category/',
                    type:'POST',
                    data:{
                        'category':cate
                    },
                    success:function (data) {
                        if (data.code == 200){

                            var li = $(`<li class="list-group-item">${cate}</li>`);
                            $("#categories").append(li);
                        }else{

                            alert('类别已经存在了')
                        }
                        $("#_category").val("");
                    }
                })
            }
        })


        //隐藏的时候清空模态框内的内容
        $('#myCategoryModal').on('hidden.bs.modal', function (e) {
            $("#categories").html("");
        });
    });


    //文章标签模态框
    $(function () {

        function tag_del(id){
            $.ajax({
                    url:'/blog/tag/',
                    type:'DELETE',
                    data:{id:id},
                    success:function (data) {
                        if (data.code==100){
                            alert("删除失败！")
                        }else{
                            $(`#tag_del_${id}`).parent().remove();
                        }
                    },
                })
        }

        $("#tag_show").click(function () {
            //数据库获取个人博客所有的的文章标签
            $.ajax({
                url:'/blog/tag/',
                type:'GET',
                success:function (data) {
                    data = JSON.parse(data);
                    data.forEach(function (item) {
                        id = item['id'];
                        title = item['title'];
                        var li = $(`<li class="list-group-item" >${title}<a id="tag_del_${id}" tag_id=${id} class="glyphicon glyphicon-minus pull-right"></a></li>`);;
                        $("#tags").append(li);
                    });

                    //删除标签
                    $("[id^='tag_del_']").click(function () {
                        var id = $(this).attr("tag_id");
                        // Ajax发送文件删除信息
                        tag_del(id)

                    });

                },
            });
            $('#myTagModal').modal('show');
        });


        //添加文章标签
        $("#tag_add").click(function () {
            var tag = $("#_tag").val();
            if (tag){
                //将类别添加至后台数据库，同时显现在前端页面
                $.ajax({
                    url:'/blog/tag/',
                    type:'POST',
                    data:{
                        'tag':tag
                    },
                    success:function (data) {
                        if (data.code == 200){
                            //在模态框中添加标签
                            var id = data.msg;
                            var li = $(`<li class="list-group-item">${tag}<a id="tag_del_${id}" tag_id=${id} class="glyphicon glyphicon-minus pull-right"></a></li>`);

                            $("#tags").append(li);
                            $(`#tag_del_${id}`).click(function () {
                                tag_del(id);
                            });


                            //在下拉选项中添加标签
                             //edit选中添加
                            // <option tag_id="{{item.id}}">{{item.title}}</option>
                            // option_tag = $(`<option tag_id="${id}">${title}</option>`);
                            // $("#category").append(option_tag);
                        }else{
                            alert('类别已经存在了')
                        }
                        $("#_tag").val("");

                    }
                })
            }
        });


        //隐藏的时候清空模态框内的内容
        $('#myTagModal').on('hidden.bs.modal', function (e) {
            $("#tags").html("");
        });


    })


</script>


</html>