<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    <script src="/static/jquery-3.3.1.js"></script>
    <link href="/static/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet">
    <script src="/static/bootstrap-3.3.7/js/bootstrap.js"></script>

    <style>
        .leader {
            position: relative;
            top: 15px;
        }

        .img-rounded {
            width: 360px;
            height: 280px;
        }


    </style>
    {% block css %}
    {% endblock %}
</head>
<body>


<div class="container-fluid" style="background-color: lightslategray">
    <div class="container">
        <div class="header">
            <div class="row">

                <!--CcC图标-->
                <div class="col-md-2">

                    <h1 style="color: #204d74"><a href="">CoC</a></h1>
                </div>
                <!--链接导航-->
                <div class="col-md-10">
                    <nav class="navbar  navbar-right leader ">

                        <a class="navbar-brand" href="/blog/articles/">科普文章</a>
                        <a class="navbar-brand" href="#">技术分享</a>
                        <a class="navbar-brand" href="#">视频教程</a>
                        <a class="navbar-brand" href="/blog/edit/">编辑文章</a>
                        <a class="navbar-brand" href="/blog/login">登陆|注册</a>
                    </nav>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="container">
    <!--导航栏-->


    {% block container %}

    {% endblock %}


</div>

</body>
</html>