<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    <script src="/static/jquery-3.3.1.js"></script>
    <link href="/static/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet">
    <script src="/static/bootstrap-3.3.7/js/bootstrap.js"></script>
</head>
<body>

<!--基本标签-->
<h1>一级标题</h1>
<h2>二级标题</h2>
<h3>三级标题</h3>
<h4>四级标题</h4>
<h5>五级标题</h5>
<h6>最小标题</h6>

<p>这是一个段落</p>
<br/>
<hr>


<!--文本格式化-->
<b>加粗文本</b>
<code>计算机代码</code>
<em>强调文本</em>
<i>斜体文本</i>
<kbd>键盘输入</kbd>
<pre>预览格式文本</pre>
<small>更小的文本</small>
<strong>重要的文本</strong>


<!--链接-->
<a href=""></a>
<img src="" alt="提示信息">

<!--无序列表-->
<ul>
    <li>a</li>
    <li>b</li>
    <li>c</li>
    <li>d</li>
</ul>

<!--有序列表-->
<ol>
    <li>a</li>
    <li>b</li>
    <li>c</li>
    <li>d</li>
</ol>

<!--定义列表-->
<dl>
    <dt>河南</dt>
    <dd>郑州</dd>
    <dd>洛阳</dd>
    <dd>开封</dd>
    <dt>山东</dt>
    <dd>济南</dd>
    <dd>威海</dd>
    <dd>大连</dd>
</dl>

<!--表格-->
<table border="1">
    <tr>
        <td>id</td>
        <td>name</td>
        <td>age</td>
        <td>gender</td>
    </tr>
    <tbody>
    <tr>
        <td>1</td>
        <td>jack</td>
        <td>12</td>
        <td>man</td>
    </tr>
    </tbody>
</table>

<!--表单-->
<form action="http://baidu.com" method="post">
    <input type="text" name="'email" size="40" maxlength="50" value="请输入名字">
    <input type="password">
    <input type="checkbox" checked="checked">
    <input type="radio" checked="checked">
    <input type="submit" value="Send">
    <input type="reset">
    <input type="hidden">
    <select name="" id="">
        <option value="1">香蕉</option>
        <option value="1" selected="selected">橘子</option>
        <option value="1">苹果</option>
    </select>
    <textarea name="" id="" cols="30" rows="10"></textarea>
</form>




<!--框架-->
<iframe src="https://www.bilibili.com/" frameborder="0" height="400" width="600"></iframe>

</body>
</html>